
@media (max-width:780px) {

    /* .br {
        display: block;
    } */

    header {
        padding: 1.2rem var(--padding-sm-y);
        display: flex;
        justify-content: space-between;
    }

    header nav ul{
        display: none;
    }
    header nav span.menu {
        display: block;
    }

    header button{
        display:none;
    }

    .menu{
        width: 35px;
        height: 20px;

        display: inline-block;

        transition: var(--transition);

        transition-duration: .2s !important;

        background-image: url("/images/icon-hamburger.svg");
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        
    }

    .menu[data-opened="true"]{
        background-image: url("/images/icon-close.svg");
        /* width: 19px;
        height: 19px; */
    }

    

    .dropdown,
    .dropdown ul,
    .dropdown ul li {
        transition: var(--transition);
        
    }
        
    /* .dropdown ul {
        display: none;
    } */

    .dropdown.show{
        
        position: fixed;
        left: 0;
        top: 0;

        width: 100%;
        height: 100%;


        display: flex;
        align-items: flex-start;
        justify-content: center;

        background-color: rgba(0, 0, 0, 0.459);
        z-index: 3;
    }

    .dropdown.show ul{
        

        background-color:var(--white);
        display: block;

        width: 90%;
        margin-top: 85px;

        padding: 25px 15px;
        text-align: center;

        border-radius: 6px;
    }
    .dropdown.show ul li{

        padding: 15px 0;

        color: var(--dark-blue);
        font-size: 1.3rem;
        font-weight: var(--font-w-400);

    }



    .hero{
        justify-content:center;
        align-items: flex-end;
        padding-bottom: 2.5rem;

        height: max-content;
    }

    .hero div:first-of-type {
        width: 100%;
        text-align: center;

        margin: 18rem 0 3rem 0;
    }

    .hero button{
        margin: 0 auto;
    }

    .hero h2 {
        font-size: 2.5rem;
    }


    .hero div:last-of-type {
        position: absolute;
        left: 0%;
        top: -20%;
        
        background-image: url('/images/bg-intro-mobile.svg');
        /* background-position: 10% center; */
        height: 100%;
        width: 100%;
    }

    .hero div:last-of-type img {

        /* display: none; */
        height: auto;
        width: 90%;

        margin-top: -7rem;

        user-select: none;


    }

    section {
        padding: var(--padding-sm-y) var(--padding-sm-x);
        max-width: 100%;
    }

    section .section_header {
        width: 80%;
        text-align: center;
        font-size: 0.9rem;
        margin: 8rem auto 0 auto;
    }


    .listings {
        display: flex;
        flex-direction: column;
        row-gap: 25px;
        text-align:center

    }

    .listings__items {
        font-size: 1rem;
        width: 80%;

        max-width: 100%;
        margin: 0 10px;
    }


    footer {
        
        padding: 3rem var(--padding-sm-y);

        display: flex;
        
        
        flex-direction: column;
        row-gap: 20px;
    }

    footer>div:first-of-type {
        align-items: center;

        row-gap: 20px;
        flex-direction: column;
    }


    footer>div:last-of-type {

        display: flex;
        align-items: center;
    }


    footer .nav {

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content:center;

        row-gap: 15px;
        

        margin: 15px 0;

    }


    .attribution br {
        display: block;
    }



    
}
